[submodule "Osiris/dependencies/FreeGLUT"]
	path = Osiris/dependencies/FreeGLUT
	url = https://github.com/dcnieho/FreeGLUT
[submodule "Osiris/dependencies/freetype2"]
	path = Osiris/dependencies/freetype2
	url = https://github.com/aseprite/freetype2
[submodule "Osiris/dependencies/glm"]
	path = Osiris/dependencies/glm
	url = https://github.com/g-truc/glm
